<%- include header %>
<%- include nav %>
<%- include side %>
<input type="hidden" id="active" value="1"/>
<div class="col-md-10">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>客户案例列表 <a href="/admin/exampleAdd" class="btn btn-primary pull-right">添加</a></h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <% postData.forEach(function(item, i){ %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="<%= item.BrandLogo %>" width="100" alt=""/>
                        </div>
                        <div class="col-xs-4">
                            <%= item.title %>
                        </div>
                        <div class="col-xs-4">
                            <a href="/admin/exampleEdit/<%= item.id %>" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></a>
                            <button class="btn btn-danger" onclick="del('<%= item.id %>')" value = "<%= item.id %>"><span class="glyphicon glyphicon-trash del"></span></button>
                        </div>
                    </div>
                </li>
                <% } ) %>
            </ul>
        </div>
    </div>
</div>
<%- include resource %>
<script>
    function del(id) {
        if (confirm("真的要删除这项吗？")) {
            var PostDate = {"id":id};
            $.ajax({
                type: "post",
                url: "/admin/exampleDel",
                data: PostDate,
                dataType: "json",
                success: function (data) {
                    window.location.reload();
                }, error: function (data) {
                    alert(data);
                }
            })
        }
    }
</script>
<%- include footer %>
