<%- include header %>
<%- include nav %>
<%- include side %>

<input type="hidden" id="active" value="1"/>
<div class="col-md-10">
<div class="panel">
    <div class="panel-heading">
        <h1>欢迎登陆辉腾科技官网后台</h1>
    </div>
    <div class="panel-body">
      你好！
    </div>
</div>
</div>
<%- include resource %>
<%- include footer %>
